{% extends "layout.html" %}
{% block body %}
    <!-- end header section -->
<!--  </div>-->




  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            <span>Our Services</span>
          </h2>
          <p>
            We provide quick service process at our mobile Store.
            We are one of the best reasonable mobile phone service store, where we are fixing all models of smartphones, tabs, smart watch
            and other electronic gadgets. Our service included touch screen repair/replacement, liquid and water damage repair,
            broken and physical damage repair, mainboard chip-level repairing, charging port, power button, side button,
            camera repair, headphone jack, wifi, bluetooth, battery replacement, software troubleshoot and up-gradation.
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="{{url_for('static',filename='images/s1.png')}}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Mobile Repair
                </h5>
                <p>
                  We repair all models of Android, iPhone, iPad, tabs and smart watches.
                </p>
<!--                <a href="">-->
<!--                  Read More-->
<!--                </a>-->
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="{{url_for('static',filename='images/s2.png')}}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Hardware Replacement
                </h5>
                <p>
                  We provide quality & original parts only!
                </p>
<!--                <a href="">-->
<!--                  Read More-->
<!--                </a>-->
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="{{url_for('static',filename='images/s3.png')}}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Broken Screen
                </h5>
                <p>
                  We have expertise in screen replacement.We can replace screen of almost all the devices.
                </p>
<!--                <a href="">-->
<!--                  Read More-->
<!--                </a>-->
              </div>
            </div>
          </div>

          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="{{url_for('static',filename='images/s4.png')}}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Software Problem
                </h5>
                <p>
                  Expert in solving software problems.We have all the latest tools required for repair.
                </p>
<!--                <a href="">-->
<!--                  Read More-->
<!--                </a>-->
              </div>
            </div>
          </div>

          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="{{url_for('static',filename='images/s5.png')}}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  24/7 Support
                </h5>
                <p>
                  We provide 24/7 support. You can call us anytime.
                </p>
<!--                <a href="">-->
<!--                  Read More-->
<!--                </a>-->
              </div>
            </div>
          </div>

          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="{{url_for('static',filename='images/delivery.png')}}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Fast Delivery
                </h5>
                <p>
                  We will provide fast delivery.
                </p>
<!--                <a href="">-->
<!--                  Read More-->
<!--                </a>-->
              </div>
            </div>
          </div>

        </div>

        <div class="btn-box">
<!--          <a href="">-->
<!--            See All-->
<!--          </a>-->
        </div>
      </div>
    </div>
  </section>

<!--   end service section -->

 {% endblock %}
